{% extends '::base.html.twig' %}

{% block body -%}
<div id="wrapper">
    <div id="container">
        <div id="welcome">
    <h1><span>Utenti:</span></h1>

    <table class="record_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nome</th>
                <th>Cognome</th>
                <th>Email</th>
                <th>Gruppo</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>   
                <td>{{ user.id }}</td>
                <td>{{ user.nome }}</td>
                <td>{{ user.cognome }}</td>    
                <td>{{ user.email }}</td>
                <td>{{ user.gruppo }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
        </div>
    </div>
</div>
{% endblock %}